html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: none;
}

main {
  width: 100vW;
  height: 100vh;
  
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -0ser-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

textarea {
  display: block;
  width: 100%;
  border: 0px;
  height: 2em;
}
